body{
    /* display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; */
}
.container{
    display: flex;
}

.content{
    width: 16px;
    height: 16px;
    background-color: blue;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 5px;
}

.gridContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


